.site-header {
  padding-top: 77px;
  padding-bottom: 77px;
  background-color: $bg-header-color;
}
@include breakpoint-down (768px) {
  .site-header {
    padding-top: 64px;
    padding-bottom: 112px;
  }
}